/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.destinations {
  margin: 2em 3em;
  width: 30em;
}

.add-bn {
  border-radius: 16px;
  border: 1px solid #aaa;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: #aaa;
  background-color: white;
  text-align: center;
  margin-top: 4px;
  font-size: 27px;
  font-weight: lighter;
}

.destination {
  width: 100%;
  position: relative;
}

.destination input {
  width: 100%;
  font-size: 15px;
  padding: 8px 16px;
}

.destination input {
  display: initial;
}

.destination input.autocomplete {
  display: none;
}

.destination.autocomplete input {
  display: none;
}

.destination.autocomplete input.autocomplete {
  display: initial;
}

.destination-info .title {
  font-weight: 500;
  font-size: 14px;
}

.map-canvas {
  width: 100%;
  height: 100%;
}

.messages {
  width: 30%;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.messages.headlines {
  border: initial;
}

.messages .handle {
  background-color: rgba(192, 192, 192, .95);
  border-bottom: 1px solid #aaa;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  text-align: center;
  transition: background-color .2s, border-bottom .2s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.messages.headlines .handle {
  background-color: rgba(255, 255, 255, .5);
  border-bottom: initial;
  transition: background-color .2s, border-bottom .2s;
}

.handle:before {
  content: "=";
  font-stretch: expanded;
}

.handle:after {
  content: "=";
  font-stretch: expanded;
}

.messages ul {
  background-color: rgba(255, 255, 255, .95);
  list-style: none;
  margin: 0;
  max-height: 20em;
  overflow: auto;
  min-width: 10em;
  padding: 0;
  width: 100%;
}

.messages.headlines ul {
  background-color: initial;
  max-height: initial;
}

.messages li {
  font-size: 10pt;
  padding: 3px 3px 3px 1em;
  text-indent: -.5em;
}

.messages.headlines li {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  color: white;
  margin-top: 3px;
}

.messages.headlines li.history {
  display: none;
}

.messages li:before {
  font-weight: bold;
}

.messages li.info:before {
  content: "i ";
  color: #77F;
}

.messages li.error:before {
  content: "x ";
  color: red;
}

.selected {
  box-shadow: 0 0 8px #05f;
  z-index: 1;
}
